$titleBorderWidth: 70;
$titlePadding: 70;

.header {
    overflow: hidden;
    background-color: $secondaryColor;
    color: $primaryColor;
    padding: 60px;
    .title {
        text-align: center;
        margin: auto;
        width: 20%;
        min-width: 200px;
        display: block;
        border-style: solid;
        border-width: thin 0;
        hr {
            width: 30%;
            border-color: $primaryColor;
            opacity: 1;
        }
    }
}

