<div class="menu">
    <ul>
        {% if site.portfolio.size > 0 %}
            <li>
                <a href="{{ site.portfolio }}">folio</a>
            </li>
        {%  endif%}
        {% if site.github.size > 0 %}
            <li>
                <a href="{{ site.github }}" target="blank"><i class="fab fa-github"></i></a>
            </li>
        {% endif %}
        {% if site.stackOverflow.size > 0 %}
            <li>
                <a href="{{ site.stackOverflow }}" target="blank"><i class="fab fa-stack-overflow"></i></a>
            </li>
        {% endif %}
        {% if site.linkedin.size > 0 %}
            <li>
                <a href="{{ site.linkedin }}" target="blank"><i class="fab fa-linkedin"></i></a>
            </li>
        {% endif %}
        {% if site.twitter.size > 0 %}
            <li>
                <a href="{{ site.twitter }}" target="blank"><i class="fab fa-twitter"></i></a>
            </li>
        {% endif %}
        {% if site.facebook.size > 0 %}
            <li>
                <a href="{{ site.facebook }}" target="blank"><i class="fab fa-facebook-f"></i></a>
            </li>
        {% endif %}
        <li>
            <i class="fas fa-download" onclick="printPDF('{{ site.name | replace: ' ', '_' }}.pdf')"></i>                
        </li>
    </ul>
</div>