{% assign previousSection = false %}
<div class="contact">
    <h2>Contact</h2>
    <div>
        <h4>E-Mail:</h4>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
    <div>
        <h4>Phone:</h4>
        <a href="tel:1{{ site.phone | remove: '-' | remove: '(' | remove: ')' | remove: ' ' }}">{{ site.phone }}</a>
    </div>
</div>
{% if site.data.professionalSkills != null and site.data.professionalSkills != false %}
    {% assign previousSection = true %}
    <div class="skillTalent">
        <div class="hideSection">
            <h1 id="ProfessionalSkills" onclick="collapse(this, '.skillTalent', '.ulGroup')">+</h1>
        </div>
        <div>
            <h2>Professional Skills</h2>
            <div class="ulGroup">
                {% include skillTalent.html data=site.data.professionalSkills %}
            </div>
        </div>
    </div>
{% endif %}
{% if site.data.personalTalents != null and site.data.personalTalents != false %}
    {% if previousSection == true %}
        <hr />
    {% endif %}
    {% assign previousSection = true %}
    <div class="skillTalent">
        <div class="hideSection">
            <h1 id="PersonalTalents" onclick="collapse(this, '.skillTalent', '.ulGroup')">+</h1>
        </div>
        <div>
            <h2>Personal Talents</h2>
            <div class="ulGroup">
                {% include skillTalent.html data=site.data.personalTalents %}
            </div>
        </div>
    </div>
{% endif %}
{% if site.data.spokenLanguages != null and site.data.spokenLanguages != false %}
    {% if previousSection == true %}
        <hr />
    {% endif %}
    {% assign previousSection = true %}
    <div class="skillTalent">
        <div class="hideSection">
            <h1 id="SpokenLanguages" onclick="collapse(this, '.skillTalent', '.ulGroup')">+</h1>
        </div>
        <div>
            <h2>Spoken Languages</h2>
            <div class="ulGroup">
                {% include skillTalent.html data=site.data.spokenLanguages %}
            </div>
        </div>
    </div>
{% endif %}