

{% for item in include.data %}
    {% assign Name = item[0] %}
    {% assign Rating = item[1] %}
    {% assign UnChecked = 5 | minus: item[1] %}
    <div class="entry">
        <div class="name">
            <h4>{{ Name }}</h4>
        </div>
        <div class="rating">
            <ul>
                {% for i in (1..UnChecked) %}
                    <li><img src={{ site.data.theme[site.data.theme.selectedTheme].uncheckedRadio | append: ".png" }} /></li>
                {% endfor %}
                {% for i in (1..Rating) %}
                    <li><img src={{ site.data.theme[site.data.theme.selectedTheme].checkedRadio | append: ".png" }} /></li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endfor %}
