<!DOCTYPE HTML>
<!--
	   Portfolio by TAMJAP
	   Free for personal and commercial use under the MIT license
   -->
<html>

    {% include head.html %}

	<body>
        {% include header.html %}
        {% include menu.html %}
        <div class="sidebar">
            {% include sidebar.html %}
        </div>
        <div class="content">
            <hr class="hideable" />
            {% include experience.html %}
            <hr class="hideable" />
            {% include education.html %}
        </div>
    </body>

    <script type="text/javascript" src="/assets/js/collapseBlock.js" ></script>
    <script type="text/javascript" src="/assets/js/print.js" ></script>
    <script type="text/javascript" src="/assets/js/jspdf.min.js" ></script>
</html>
